    body {
        background-color: #FBF5E5;
        color: #212121;
        font-family: 'Segoe UI', sans-serif;
    }

    .success-container {
        background-color: #fff;
        border: 2px solid #C890A7;
        border-radius: 10px;
        padding: 2rem;
        max-width: 700px;
        margin: 4rem auto;
    }

    .success-title {
        color: #A35C7A;
    }

    .order-info p {
        margin: 0.5rem 0;
        font-weight: 500;
    }

    .order-info p strong {
        color: #C890A7;
    }

    /* ............ */
    .card {
        background-color: var(--light-bg);
        border: 1px solid var(--secondary-color);
        border-radius: var(--border-radius);
        transition: box-shadow var(--transition-speed);
        padding: 30px;
    }

    .card:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }

    .btn-primary {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: var(--border-radius);
        transition: background-color var(--transition-speed);
        padding: 10px 25px;
    }

    .btn-primary:hover {
        background-color: #0f2d47;
    }

    h2,
    h5 {
        color: var(--primary-color);
    }

    .text-primary {
        color: var(--primary-color);
    }

    .success p {
        color: #bc854e
    }

    .success p strong {
        color: var(--primary-color) !important;
    }

    .order-details-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order-image {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
    }

    .order-data {
        flex: 1;
        margin-left: 20px;
    }

    .blue {
        color: rgb(67, 98, 237) !important
    }

    .success {
        margin-bottom: 7rem !important
    }